
svg {
	width: 500px;

	> g {
		transform: translateX(25px) translateY(25px) scale(0.75);
	}
	#thin {
		opacity: 1;
		transition: .3s;
	}
	#thin.destroyed {
		opacity: 0;
	}
}

#client {
	position: relative;
	overflow: hidden;
}

.coin {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(-100px) translateY(-100px);
	width: 50px;
}

#fat, #exploded {
	visibility: hidden;
}

#coinBox {
	display: inline-block;
	margin-left: 600px;
}