/*
    DEFAULT
*/
body {
  font-family: 'Muli', sans-serif;
  font-weight: 800;
  font-size: 18px;
  overflow: hidden;
  /*
      HEADER
  */
  /*
      GAME SECTION
  */
  /*
      QUEST SECTION
  */
  /*
      AMELIORATIONS & STATISTICS SECTION
  */ }
  body header {
    height: 75px;
    width: 100vw;
    position: relative;
    background-color: #f35a4e;
    font-size: 30px;
    color: #f1f1f1;
    /* Part left, with the logo and the level */
    /* Part right, with the score */ }
    body header .leftPart {
      height: 100%;
      width: 45%;
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      /* Name of the level */ }
      body header .leftPart .logo {
        display: inline-block;
        margin: 10px 50px; }
        body header .leftPart .logo img {
          height: 50px;
          width: auto; }
      body header .leftPart .nameLevelContainer {
        width: 300px;
        position: absolute;
        left: calc(50% - 150px + 55px);
        display: inline-block;
        text-align: center;
        line-height: 75px;
        font-weight: 900; }
        body header .leftPart .nameLevelContainer .triangle {
          display: inline-block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 7.5px 13px 7.5px 0;
          border-color: transparent #f1f1f1 transparent transparent; }
        body header .leftPart .nameLevelContainer .triangleRight {
          border-width: 7.5px 0 7.5px 13px;
          border-color: transparent transparent transparent #f1f1f1; }
    body header .rightPart {
      height: 100%;
      width: 55%;
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      display: inline-block;
      line-height: 75px; }
      body header .rightPart .icon {
        height: 20px;
        width: auto;
        margin-right: 20px; }
      body header .rightPart .totalCoins {
        display: inline-block;
        margin-right: 150px; }
      body header .rightPart .totalBlueprints {
        display: inline-block; }
  body .gameSection {
    height: calc(100vh - 75px);
    width: 45%;
    background: #f1f1f1;
    position: relative;
    display: inline-block;
    /* Menu to select the food */ }
    body .gameSection .cashRegister .squareExterior {
      height: 75px;
      width: 200px;
      position: absolute;
      bottom: 110px;
      border-radius: 10px;
      background-color: #1d1d1d; }
    body .gameSection .menuFood {
      height: 75px;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: #f6e188;
      font-size: 0; }
      body .gameSection .menuFood .containerFoodButton {
        height: 100%;
        width: 25%;
        display: inline-block;
        padding: 10px 25px;
        box-sizing: border-box;
        position: relative; }
        body .gameSection .menuFood .containerFoodButton .foodButton {
          height: 50px;
          width: 50px;
          position: absolute;
          left: calc(50% - 25px);
          display: inline-block;
          text-align: center;
          border-radius: 10px;
          background: #fff7ee; }
          body .gameSection .menuFood .containerFoodButton .foodButton img {
            height: 45px;
            width: 45px; }
      body .gameSection .menuFood .active {
        background-color: #f7db63; }
  body .questSection {
    height: calc(50vh - 75px);
    width: 55%;
    display: inline-block;
    float: right;
    background-color: #fff7ee;
    position: relative;
    padding: 20px 40px;
    box-sizing: border-box;
    overflow-y: scroll; }
    body .questSection h2 {
      color: #1d1d1d;
      font-weight: 900;
      font-size: 24px;
      margin-bottom: 20px; }
    body .questSection ul li {
      height: 45px;
      line-height: 45px;
      /* Checkbox for the quest */
      /* Explanation of the quest */ }
      body .questSection ul li .checkboxContainer {
        height: 20px;
        width: 20px;
        position: relative;
        display: inline-block;
        vertical-align: text-top; }
        body .questSection ul li .checkboxContainer .checkbox {
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border: 2px solid #f35a4e; }
        body .questSection ul li .checkboxContainer .checkboxFill {
          height: 70%;
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: #f35a4e; }
      body .questSection ul li .nameQuest {
        margin-left: 5%; }
      body .questSection ul li .reward {
        float: right; }
        body .questSection ul li .reward .numberReward {
          font-weight: 900;
          margin-right: 20px; }
        body .questSection ul li .reward .icon {
          height: 20px;
          width: auto;
          margin-right: 20px;
          vertical-align: text-top; }
  body .ameliorationsSection {
    height: 50vh;
    width: 55%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fdf4cb; }
    body .ameliorationsSection .ameliorationContainer {
      height: 100%;
      width: 100%;
      position: relative;
      /* Menu of the ameliorations */
      /* List of the ameliorations */ }
      body .ameliorationsSection .ameliorationContainer .menuAmelioration {
        height: 75px;
        width: 100%;
        background-color: #f6e188; }
        body .ameliorationsSection .ameliorationContainer .menuAmelioration ul {
          height: 100%;
          width: 100%;
          font-size: 0; }
          body .ameliorationsSection .ameliorationContainer .menuAmelioration ul li {
            height: 100%;
            width: 33.33%;
            display: inline-block;
            text-align: center;
            line-height: 75px;
            cursor: pointer; }
            body .ameliorationsSection .ameliorationContainer .menuAmelioration ul li span {
              font-weight: 900;
              font-size: 24px;
              color: #f1f1f1; }
          body .ameliorationsSection .ameliorationContainer .menuAmelioration ul .current {
            background-color: #f7db63; }
      body .ameliorationsSection .ameliorationContainer .listFood {
        z-index: 10;
        overflow-y: scroll; }
        body .ameliorationsSection .ameliorationContainer .listFood .upgradeContainer {
          height: 80px;
          position: relative;
          /* Design of the amelioration's list */
          /* Button for increase the level of the food */ }
          body .ameliorationsSection .ameliorationContainer .listFood .upgradeContainer .currentFood {
            height: 50px;
            width: 50px;
            display: inline-block;
            text-align: center;
            border-radius: 10px;
            margin: 15px;
            margin-left: 25px;
            background: #fff7ee;
            line-height: 50px; }
            body .ameliorationsSection .ameliorationContainer .listFood .upgradeContainer .currentFood img {
              max-height: 40px;
              max-width: 40px; }
          body .ameliorationsSection .ameliorationContainer .listFood .upgradeContainer .title {
            display: inline-block;
            width: 80px;
            position: absolute;
            top: 20px;
            left: 15%; }
            body .ameliorationsSection .ameliorationContainer .listFood .upgradeContainer .title .nameFood {
              color: #f35a4e;
              font-size: 24px; }
          body .ameliorationsSection .ameliorationContainer .listFood .upgradeContainer .listAmelioration {
            width: 250px;
            text-align: center;
            display: inline-block;
            position: absolute;
            top: 20px;
            left: 35%; }
            body .ameliorationsSection .ameliorationContainer .listFood .upgradeContainer .listAmelioration li {
              display: inline-block; }
              body .ameliorationsSection .ameliorationContainer .listFood .upgradeContainer .listAmelioration li a {
                height: 40px;
                width: 40px;
                display: inline-block;
                border-radius: 10px;
                background-color: #fff7ee; }
                body .ameliorationsSection .ameliorationContainer .listFood .upgradeContainer .listAmelioration li a img {
                  height: 30px; }
          body .ameliorationsSection .ameliorationContainer .listFood .upgradeContainer .levelButton {
            height: 55px;
            width: 100px;
            display: inline-block;
            margin: 12px;
            margin-right: 25px;
            float: right;
            border-radius: 10px;
            border-bottom: 4px solid #d74438;
            background-color: #f35a4e;
            text-decoration: none;
            text-align: center;
            padding: 5px;
            box-sizing: border-box; }
            body .ameliorationsSection .ameliorationContainer .listFood .upgradeContainer .levelButton span {
              color: #f1f1f1;
              text-transform: uppercase; }
            body .ameliorationsSection .ameliorationContainer .listFood .upgradeContainer .levelButton span:first-child {
              display: inline-block;
              margin-top: 5px;
              margin-bottom: 2px; }
            body .ameliorationsSection .ameliorationContainer .listFood .upgradeContainer .levelButton img {
              height: 20px;
              width: auto;
              vertical-align: text-bottom; }

/*# sourceMappingURL=style.css.map */
