// Colors :
$grey-bg: #ececec;
$grey-header: #d0cfcf;
$white-quest: #fff;

// Fonts :
$montserrat-bold: 'montserratblack';
$montserrat-black: 'montserratextrabold';
$montserrat: 'montserratregular';

// Distances :
$header-height: 80px;
$header-title: 25px;

// Responsive :
$screen-lg: 1024px;
$screen-md: 768px;
$screen-s: 425px;
