// Colors :
$dark-red: #d74438;
$red: #f35a4e;
$light-red: #fff7ee;
$dark-yellow: #f4d038;
$yellow: #f5dc72;
$light-yellow: #fdf4cb;
$cream: #fff7ee;
$white: #f1f1f1;
$black: #1d1d1d;

// Size :
$header-size: 30px;
$title-size: 24px;
$text-size: 18px;

// Weight
$bold: 900;
$regular: 800;
