// Colors :
$grey-bg: #ececec;
$grey-header: #d0cfcf;

// Fonts :
$header-title: 40px;

// Distances :
$header-height: 100px;


// Responsive :
$screen-lg: 1024px;
$screen-md: 768px;
$screen-s: 425px;
